.btn-blue {
    color: white;
    background-color: rgb(155, 186, 181);
    border: 1px solid burlywood;
    border-radius: 7px;
    padding: 16px;
    font-weight: bold;

}

.btn-blue:hover {
    background-color: white;
    color: rgb(155, 186, 181);
    transform: scale(1.2);
    transition: 1s;
}